@inherits BaseComponent
@{
    string text = _hasAuthenticator ? L.GetLocalizedString(ResourceKeys.Titles_SetUpAuthenticatorApp_Cap) : L.GetLocalizedString(ResourceKeys.Titles_AddAuthenticatorApp_Cap);
}
<MudPaper Class="mud-width-full pa-6">
    <MudTabs @ref="_tabs" Outlined="false" Position="Position.Top" Rounded="true" Border="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="@text">
            @if (_enableAuthenticator)
            {
                <EnableAuthenticatorAppComponent OnAuthenticatorEnabled="OnAuthenticatorEnabled" />
            }

            @if (_canGenerateRecoveryCodes)
            {
                <GenerateRecoveryCodesComponent />
            }
        </MudTabPanel>
        <MudTabPanel Text="@L.GetLocalizedString(ResourceKeys.Titles_ResetAuthenticator_Cap)" Disabled="@(!_is2faEnabled)">
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>@L.GetLocalizedString(ResourceKeys.Messages_ResetAuthenticatorWarning)</strong>
                </p>
                <p>
                    @L.GetLocalizedString(ResourceKeys.Descriptions_Disable2FAProcessWarning)
                </p>
            </div>
            <div>
                <CRUDButton Type="CRUDButtonType.Error" OnClick="ResetAuthenticatorKey" Text="@L.GetLocalizedString(ResourceKeys.Labels_ResetAuthenticatorKey_Cap)" />
            </div>
        </MudTabPanel>
        <MudTabPanel Text="@L.GetLocalizedString(ResourceKeys.Titles_Disable2FA_Cap)" Disabled="@(!_is2faEnabled)">
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>@L.GetLocalizedString(ResourceKeys.Messages_Disable2FAWarning)</strong>
                </p>
                <p>
                    @L.GetLocalizedString(ResourceKeys.Descriptions_Disable2FAKeyChangeWarning)
                </p>
            </div>

            <div>
                <CRUDButton Type="CRUDButtonType.Error" OnClick="Disable2FA" Text="Disable 2FA" />
            </div>
        </MudTabPanel>
    </MudTabs>
</MudPaper>